<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
        <form [formGroup]="creditForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
               <label for="name">Name</label>
               <input type="name" class="form-control" 
               id="name" formControlName = "name">
            </div>
            <div class="form-group">
                <label for="email">Credit/Debit Card Number</label>
                <input type="email" class="form-control" 
                id="email" formControlName = "cardNo">
             </div>
             <div class="form-group">
                <label for="email">CVV</label>
                <input type="email" class="form-control" 
                id="email" formControlName = "cvv">
             </div>
             <div class="form-group">
                <label for="email">Expiry Month</label>
                <input type="email" class="form-control" 
                id="email" formControlName = "expiryMonth">
             </div>
             <div class="form-group">
                <label for="email">Expiry Year</label>
                <input type="email" class="form-control" 
                id="email" formControlName = "expiryYear">
             </div>
         
          <button class="btn btn-primary" type="submit">Submit</button> 
        </form>
      </div>
    </div>
  </div>